body{
    display:flex;
    flex-direction: column;
    font-family: Roboto, Helvetica, sans-serif; 
    align-items: center;
    margin: 0 auto;
    
}

header{
    background-color: #1F2937;
    color:#E5E7EB;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;
    width:100vw;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
}

.links-header{
    display:flex;
    justify-content: space-between;
    width:800px;
    
    margin-top: 10px;
    margin-bottom: 30px;
}

.links-header h4{
    margin-top: 0;
    padding-left: 0;
}
ul{
    list-style: none;
    display:flex;
    gap: 16px;
    font-size: 12px;
    margin-top: 0;
    padding-right: 0;
}

.headercontainer{
    display:flex;
    margin-top: 0;
    justify-content: space-between;
    width:800px;
    margin-left: auto;
    margin-right: auto;
    
    
}
.headerPicture {
    height: 150px;
    width: 300px;
    margin-right: 0;
    background-color: grey;
    display:flex;
    align-items: center;
    justify-content: center;


}

.headerPicture span{
    font-size: 10px;


}
.headerText{
    height:150px;
    width:300px;
    flex-shrink: 0;
    margin-left: 0;
    
}

.headerText h1{
    margin:0
}
.headerText p{
    margin:0;
    font-size: 12px;
    font-weight: 300;
    color:#E5E7EB
    

}

button{
    border-radius: 5px;
    font-weight: 400;
    border:none;
    padding: 3px 20px
}

.headercontainer button{
    background-color: #3882F6;
    color: #E5E7EB;
    margin-top: 10px;
}

.contShorts h4{
   text-align: center;
   margin-bottom: 0;
   font-weight: bold;
   font-size: 20px;
   
}
.contShorts{
    margin-left: auto;
    margin-right: auto;
}
.shortcuts{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width:800px;
    margin-left: auto;
    margin-right: auto;

}
.shortcut{
    margin:24px;
}

.shortcut .image {
    width:120px;
    height: 120px;
    border: 2px solid #3882F6;
    border-radius: 10px;


}
.shortcut p{
    max-width: 120px;
    font-size: 10px;
    font-weight:lighter;
    margin-top: 10px;
    text-align: center;
}

.contQuote{
    background-color: #E5E7EB;
    padding-top: 30px;
    padding-bottom: 30px;
    width:100vw
}

.contQuote .quote{
    font-size: 25px;
    color: #1F2937;
    font-style:italic;
    font-weight: 100;
    width: 800px;
    margin: 0 auto;
}
.signature{
    display:block;
    text-align: right;
    padding-top: 5px;
    font-size: 15px;
    font-style: normal;
    font-weight: bold;
}


.SignUpBanner{
    background-color: #3882F6;
    color:#E5E7EB;
    border-radius: 5px;
    display:flex;
    align-items:center;
    justify-content: space-around;
    margin: 50px auto;
    width:600px;
    
}
.SignUpBanner h4{
    margin-bottom: 0;
    margin-top: 30px;

}

.SignUpBanner p{
    margin-top: 0;
    font-size: 10px;
    margin-bottom: 30px;
    font-weight: 200;
}
.SignUpBanner button{
    background-color: #3882F6;
    color:#E5E7EB;
    border: 1px solid #E5E7EB
}

footer{
    color:#E5E7EB;
    background-color: #1F2937;
    width: 100vw;
    margin-bottom:0;
    flex-shrink: 0;
    position:fixed;
    bottom:0;
    
}
 footer p{
    text-align: center;
    font-size: 12px;
    margin-bottom: 0;
    margin-top:auto;
    padding-bottom: 15px;
    padding-top: 15px;

 }